!/docs/
/講義資料
*.ppt
*.pptx
*.xlsx
*.DS_Store
/temp/
/.quarto/
/POS_Marketing_01_presen_cache/
/POS_Marketing_01_presen_files/
/POS_Marketing_01_cache/
/POS_Marketing_01_files/
/POS_Marketing_02_cache/
/POS_Marketing_02_files/
/POS_Marketing_03_cache/
/POS_Marketing_03_files/
/POS_Marketing_04_cache/
/POS_Marketing_04_files/
/POS_Marketing_05_cache/
/POS_Marketing_05_files/
/POS_Marketing_06_cache/
/POS_Marketing_06_files/
/POS_Marketing_07_cache/
/POS_Marketing_07_files/
/data/
/img/
README_files/
*.log
*.tex